body {
    background-color: black;
    color: white;
}

table {
    border: 1px;
}

h1.title {
    margin-top: 10px;
    font-size: 150%;
}

.main_content {
    background-color: #19194d;
}

.red_cell {
    background-color: #cc0000;
}

.orange_text {
    color: orange;
}

.red_text {
    color: red;
}

.error {
    color: #e60000;
}

.push_right {
    text-align: right;
}

.orange_border {
    border-style: solid;
    border-width: 1px;
    border-color: orange;
}

.white_border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

/* Change space between coloumns */
.col-xs-3, .col-xs-5{
  padding-right:1px;
  padding-left:1px;
}

.col-xs-4 {
    padding-right:1px;
    padding-left:10px;
}

/* Left colomn have 8px more than third one. */
.add_2_px {
    margin-top: 1px;
    margin-bottom: 1px;
}